<div class="card" id="contact-teaser-@Contact.Id" data-contact-id="@Contact.Id" @onclick="TeaserClicked">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="@Contact.ImagePath" alt="Profile image">
                </figure>
            </div>
            <div class="media-content">
                <span class="is-pulled-right is-4 title favorite" data-contact-id="@Contact.Id">
                    <i class="far fa-heart"></i>
                </span>
                <p class="title is-4">@Contact.Firstname @Contact.Lastname</p>
                <p class="subtitle is-6">@Contact.EmailAddress</p>
            </div>
        </div>

        <div class="content">
                <i class="fa fa-map-marked-alt"></i>
                @Contact.Address<br />
                <i class="fa fa-building"></i>
                @Contact.Employer<br />
                <i class="fa fa-briefcase"></i>
                @Contact.BusinessTitle<br />
        </div>
    </div>
</div>

